<body>
    <p>my-career works!</p>
    <h2> Myself</h2>
    <p>I'm Roger Martín, born at 1997 in Barcelona. Currently finishing my studies
        on IT Engineering at UAB.
    </p>
    <h2>My personality</h2>
    <p>I consider myself someone proactive and a worker person. Someone who is always able to work
        with a high adaptability and felxibility with his teammates. Also, I am someone Who
        keeps an eye to the latest news in the are of technology and programming.
    </p>
    <h3>Describing myself in a single quote</h3>
    <i>Every challenge is a new opportunity to learn but most important, to have fun.</i>
</body>
