<head>
</head>

<body>
  <h1>Roger Martín Gual</h1>
  <h2>Ingeniero Informático · Desarrollador Software</h2>

    <div class="grid-topbar">
      <button class="grid-item-1">
        <a href="./minisites/my-info/my-info.component.html">Who am I?</a>
        <app-my-career></app-my-career>
      </button>
      <button class="grid-item-2">
        My Career
      </button>
      <button class="grid-item-3">
        My Skills
      </button>
      <button class="grid-item-4">
        My Projects
      </button>
    </div>
  
  <div class="grid-container">
    <div class="grid-sidebar">Side Bar</div>
    <div class="grid-central">Central Panel</div>
</div>

</body>

<router-outlet></router-outlet>
